<% include ./header %>

<header class="intro-header" style="background-image: url('/images/post-bg.jpg')">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="post-heading">
                       <h1>ACCOUNT</h1>

                   </div>
               </div>
           </div>
       </div>
   </header>

   <!-- Post Content -->

       <div class="container">

           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                 <li>
                   Account <%= status.account %>
                 </li>
                 <li>
                   Password <%= status.password %>
                 </li>
                 <li>
                 Phone <%= status.Phone %>
                 </li>
               </div>
           </div>

       </div>
       <div data-role="main" class="ui-content">
           <div data-role="collapsible">
             <h1>Password Change</h1>



       <form name="sentMessage" action="/AStatus" method="POST" id="contactForm" novalidate>

       <fieldset>

           <p>Password: <input title="Password" type="password"  name="pwd1" onchange="
     this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
     if(this.checkValidity()) form.pwd2.pattern = this.value;
     "></p>
     <p>Confirm Password: <input title=" enter the same Password as above" type="password"  name="pwd2" onchange="
     this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
     "></p>


           <p><button type="submit" name="change" value="<%=status.id%>" class="pure-button pure-button-primary">Confirm</button></p>
       </fieldset>

           </form>
</div>
         </div>
   <hr>
<% include ./footer %>
