<% include ./header %>

<header class="intro-header" style="background-image: url('/images/post-bg.jpg')">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="post-heading">
                       <h1><%= status.Name %></h1>

                   </div>
               </div>
           </div>
       </div>
   </header>

   <!-- Post Content -->

       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <li>
                    Account <%= status.account %>
                  </li>
                  <li>
                    Password <%= status.password %>
                  </li>
                  <li>
                  Phone <%= status.Phone %>
                  </li>
               </div>
           </div>
       </div>


   <hr>
<% include ./footer %>
